.ticket-list {
    padding: 1px;
    border-radius: 6px;
    background: white;
    border: 1px solid black;
}

.ticket {
    margin: 6px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    background: white;
}

.ticket--dash {
    margin: 6px;
}
